.layout-fixed .main-sidebar-custom .sidebar-custom {
  padding: .2rem .2rem; }
.layout-fixed .main-sidebar {
  z-index: 4; }
.layout-fixed .nav-link:not([role="tab"]) {
  border: 0 none;
  background-color: transparent;
  outline: 0 none; }

.layout-footer-fixed .wrapper .main-header {
  z-index: 3; }
.layout-footer-fixed .wrapper .main-footer {
  z-index: 2; }
.layout-footer-fixed .wrapper .content-wrapper {
  min-height: calc(100vh - 96px); }

#sidebar-overlay {
  z-index: 3;
  transition-duration: .25s;
  background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 991.98px) {
    #sidebar-overlay {
      display: block;
      opacity: 0;
      visibility: hidden; } }
  body.sidebar-open #sidebar-overlay {
    opacity: 1;
    visibility: visible; }

aside ul li a {
  user-select: none; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.3rem; }
  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.3rem; }

.swal2-popup.swal2-toast .swal2-icon {
  margin: 5px 10px 5px 0px; }

.card-body {
  position: relative;
  z-index: 1; }

.card-body {
  padding: 10px 10px; }

.table {
  margin-bottom: 0; }
  .table tbody > tr, .table tfoot > tr, .table thead > tr {
    transition-duration: 0.25s; }
    .table tbody > tr.selected, .table tfoot > tr.selected, .table thead > tr.selected {
      background-color: #8eee6b; }
    .table tbody > tr > td, .table tbody > tr > th, .table tfoot > tr > td, .table tfoot > tr > th, .table thead > tr > td, .table thead > tr > th {
      padding: 8px 5px !important;
      vertical-align: middle; }
      html[dir=ltr] .table tbody > tr > td:not(.dt-type-numeric), html[dir=ltr] .table tbody > tr > th:not(.dt-type-numeric), html[dir=ltr] .table tfoot > tr > td:not(.dt-type-numeric), html[dir=ltr] .table tfoot > tr > th:not(.dt-type-numeric), html[dir=ltr] .table thead > tr > td:not(.dt-type-numeric), html[dir=ltr] .table thead > tr > th:not(.dt-type-numeric) {
        text-align: left; }
      html[dir=rtl] .table tbody > tr > td:not(.dt-type-numeric), html[dir=rtl] .table tbody > tr > th:not(.dt-type-numeric), html[dir=rtl] .table tfoot > tr > td:not(.dt-type-numeric), html[dir=rtl] .table tfoot > tr > th:not(.dt-type-numeric), html[dir=rtl] .table thead > tr > td:not(.dt-type-numeric), html[dir=rtl] .table thead > tr > th:not(.dt-type-numeric) {
        text-align: right; }
      .table tbody > tr > td.mailbox-icheck, .table tbody > tr > th.mailbox-icheck, .table tfoot > tr > td.mailbox-icheck, .table tfoot > tr > th.mailbox-icheck, .table thead > tr > td.mailbox-icheck, .table thead > tr > th.mailbox-icheck {
        width: 45px; }
      .table tbody > tr > td.mailbox-date, .table tbody > tr > th.mailbox-date, .table tfoot > tr > td.mailbox-date, .table tfoot > tr > th.mailbox-date, .table thead > tr > td.mailbox-date, .table thead > tr > th.mailbox-date {
        width: 185px; }
      .table tbody > tr > td.mailbox-name, .table tbody > tr > th.mailbox-name, .table tfoot > tr > td.mailbox-name, .table tfoot > tr > th.mailbox-name, .table thead > tr > td.mailbox-name, .table thead > tr > th.mailbox-name {
        width: 210px; }
      .table tbody > tr > td.mailbox-subject, .table tbody > tr > th.mailbox-subject, .table tfoot > tr > td.mailbox-subject, .table tfoot > tr > th.mailbox-subject, .table thead > tr > td.mailbox-subject, .table thead > tr > th.mailbox-subject {
        width: 368px; }

.nav-sidebar > .nav-item .nav-icon {
  position: relative;
  top: 2px; }
.nav-sidebar .nav-link p {
  display: inline-block;
  min-width: max-content; }

.navbar {
  padding: 0.5rem 0; }

.container-narrow {
  width: 100%;
  max-width: 625px;
  margin: 0 auto; }

[class*="icheck-"] {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  [class*="icheck-"] > input:first-child + label::before,
  [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before {
    margin-left: -22px; }
  [class*="icheck-"] > input:first-child:checked + label::after,
  [class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after {
    transform: translate(14px, 4px) rotate(45deg); }

.text-rtl {
  text-align: right;
  direction: rtl; }

select + span.select2-container {
  width: 100% !important; }

.bootstrap-switch.bootstrap-switch-mini {
  /*.bootstrap-switch-label {
    // padding: .1rem .4rem;
  }*/ }
  .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    font-size: 0.775rem; }

.cursor-pointer {
  cursor: pointer; }

.settings-view .card {
  overflow: hidden;
  padding: 24px 10px 12px;
  margin-bottom: 12px;
  height: 100%; }
  .settings-view .card .card-text, .settings-view .card .card-title::before {
    transition-duration: .33s; }
  .settings-view .card .card-text {
    color: #6c757d; }
  .settings-view .card .card-title {
    margin: 15px auto 25px;
    max-width: 64px;
    font-size: 32px;
    position: relative;
    color: white; }
    .settings-view .card .card-title::before {
      content: '';
      position: absolute;
      width: 68px;
      height: 68px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      background-color: var(--card-bg-color);
      z-index: -1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top; }
  .settings-view .card:hover, .settings-view .card:focus {
    color: #fff; }
    @media (max-width: 575px) {
      .settings-view .card:hover .card-title::before, .settings-view .card:focus .card-title::before {
        -webkit-transform: scale(10) translate(-50%, -50%);
        -moz-transform: scale(10) translate(-50%, -50%);
        -o-transform: scale(10) translate(-50%, -50%);
        transform: scale(10) translate(-50%, -50%); } }
    @media (min-width: 576px) {
      .settings-view .card:hover .card-title::before, .settings-view .card:focus .card-title::before {
        -webkit-transform: scale(10) translate(-50%, -50%);
        -moz-transform: scale(10) translate(-50%, -50%);
        -o-transform: scale(10) translate(-50%, -50%);
        transform: scale(10) translate(-50%, -50%); } }
    .settings-view .card:hover .card-text, .settings-view .card:focus .card-text {
      color: #fff;
      position: relative;
      z-index: 2; }

input[type=number] {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  -moz-appearance: textfield;
  appearance: textfield; }
  input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.info-box[class*=bg-gradient-] .info-box-icon {
  width: 50px; }
.info-box[class*=bg-gradient-] .info-box-content {
  padding: 0 5px; }

.info-box:not([class*=bg-gradient-]) .info-box-number {
  font-weight: 600;
  font-size: 10px; }

.card-footer {
  background-color: white; }

.filedrop {
  border: 1px dashed #837c75;
  background-color: #fff;
  color: black;
  padding: 10px;
  border-radius: 3px;
  min-height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 5px; }
  .filedrop:has(.filedrop-file) {
    justify-content: start; }
    .filedrop:has(.filedrop-file)::before {
      content: ''; }
  .filedrop::before {
    content: "Drag and drop your files here"; }
  .filedrop.hovering::after {
    content: 'Drop files here';
    position: absolute;
    background-color: rgba(211, 211, 211, 0.9);
    color: #333;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .filedrop .filedrop-file {
    background-color: bisque;
    border: 1px solid #fdbb6a;
    color: #333;
    display: flex;
    border-radius: 3px;
    padding: 6px;
    width: 100%; }
    .filedrop .filedrop-file.rejected {
      background-color: #ff3e3e;
      color: white; }
    .filedrop .filedrop-file .filedrop-file-icon {
      display: flex;
      align-items: center; }
    .filedrop .filedrop-file .filedrop-file-name {
      flex-grow: 1;
      align-items: start;
      display: flex;
      padding: 0px 5px;
      flex-direction: column;
      width: calc(100% - 28px); }
      .filedrop .filedrop-file .filedrop-file-name small {
        display: inline-block;
        width: 100%; }
      .filedrop .filedrop-file .filedrop-file-name .progress {
        width: 100%;
        background-color: white; }
        .filedrop .filedrop-file .filedrop-file-name .progress .progress-bar {
          min-width: 25px; }
    .filedrop .filedrop-file .filedrop-file-tools {
      font-size: 10px;
      margin-top: 3px; }

.dashboard-view .card.card-outline .card-body {
  overflow: hidden; }

main.dashboard-view section.weather .weather-temp {
  font-size: 36px;
  margin-bottom: 7px; }
  main.dashboard-view section.weather .weather-temp img {
    height: 54px;
    display: inline-block;
    position: relative;
    top: -4px; }
main.dashboard-view section.weather .weather-location, main.dashboard-view section.weather .weather-last-update {
  font-size: 12px; }
main.dashboard-view section.weather .weather-status {
  font-size: 24px; }
main.dashboard-view section.todos ul {
  max-height: 250px;
  overflow: auto;
  padding: 0; }
  main.dashboard-view section.todos ul::before {
    content: "Start adding your todos ...";
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block; }
  main.dashboard-view section.todos ul:has(li)::before {
    content: none; }
main.dashboard-view section.todos .todo {
  padding: 10px;
  background-color: lavenderblush;
  display: flex; }
  main.dashboard-view section.todos .todo.checked {
    background-color: #89ffee; }
    main.dashboard-view section.todos .todo.checked .todo-title {
      text-decoration: line-through double #6c757d 1px;
      font-weight: lighter; }
  main.dashboard-view section.todos .todo.deleting {
    background-color: #faff54; }
  main.dashboard-view section.todos .todo .todo-title {
    flex-grow: 1;
    padding: 0 10px; }
  body.dark-mode main.dashboard-view section.todos .todo {
    background-color: #07525e; }
    body.dark-mode main.dashboard-view section.todos .todo.checked {
      background-color: #143557; }
    body.dark-mode main.dashboard-view section.todos .todo.deleting {
      background-color: #f24242; }
main.dashboard-view section.clockwall [data-clockwall-container] {
  background: center center no-repeat url("../../../cp/pics/clock.png");
  background-size: contain;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 200px; }
  main.dashboard-view section.clockwall [data-clockwall-container] [data-hour], main.dashboard-view section.clockwall [data-clockwall-container] [data-minute], main.dashboard-view section.clockwall [data-clockwall-container] [data-second] {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom; }
  main.dashboard-view section.clockwall [data-clockwall-container] [data-hour] {
    height: 26%;
    width: 1.8%;
    top: 24%;
    left: 48.9%;
    opacity: 1;
    background-color: #07013d; }
  main.dashboard-view section.clockwall [data-clockwall-container] [data-minute] {
    height: 32%;
    width: 1.2%;
    top: 17%;
    left: 49%;
    opacity: 0.7;
    background-color: #07013d; }
  main.dashboard-view section.clockwall [data-clockwall-container] [data-second] {
    background-color: red;
    height: 38%;
    width: 0.8%;
    top: 12%;
    left: 49.4%;
    opacity: 0.7; }

kbd {
  display: inline-block;
  background-color: #083d77;
  color: white;
  padding: 2px 6px;
  position: relative;
  top: -1px;
  margin-top: 2px; }

.login-page, .register-page {
  height: auto;
  min-height: 100vh !important;
  padding: 20px 0; }

.dt-container .dt-layout-row {
  padding: 0 10px; }
  .dt-container .dt-layout-row .dt-layout-cell {
    margin: unset !important; }
    .dt-container .dt-layout-row .dt-layout-cell label {
      margin: 0 5px; }

/*# sourceMappingURL=adminlte.fixes.css.map */
