@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main-color-bg {
  background-color: #8a65df !important;
}

.main-color-text {
  color: #8a65df !important;
}

.color-1-bg {
  background-color: #ff7f50 !important;
}

.color-1-shadow {
  box-shadow: 0 3px 5px #ff7f50 !important;
}

.color-1-bg-shadow {
  background-color: #ff7f50 !important;
  box-shadow: 0 3px 5px #ff7f50 !important;
}

.color-1-text {
  color: #ff7f50 !important;
}

.color-2-bg {
  background-color: #008080 !important;
}

.color-2-shadow {
  box-shadow: 0 3px 5px #008080 !important;
}

.color-2-bg-shadow {
  background-color: #008080 !important;
  box-shadow: 0 3px 5px #008080 !important;
}

.color-2-text {
  color: #008080 !important;
}

.color-3-bg {
  background-color: #f99810 !important;
}

.color-3-shadow {
  box-shadow: 0 3px 5px #f99810 !important;
}

.color-3-bg-shadow {
  background-color: #f99810 !important;
  box-shadow: 0 3px 5px #f99810 !important;
}

.color-3-text {
  color: #f99810 !important;
}

.color-4-bg {
  background-color: #5d92b1 !important;
}

.color-4-shadow {
  box-shadow: 0 3px 5px #5d92b1 !important;
}

.color-4-bg-shadow {
  background-color: #5d92b1 !important;
  box-shadow: 0 3px 5px #5d92b1 !important;
}

.color-4-text {
  color: #5d92b1 !important;
}

.color-5-bg {
  background-color: #00bfa5 !important;
}

.color-5-shadow {
  box-shadow: 0 3px 5px #00bfa5 !important;
}

.color-5-bg-shadow {
  background-color: #00bfa5 !important;
  box-shadow: 0 3px 5px #00bfa5 !important;
}

.color-5-text {
  color: #00bfa5 !important;
}

.color-6-bg {
  background-color: #6ab04c !important;
}

.color-6-shadow {
  box-shadow: 0 3px 5px #6ab04c !important;
}

.color-6-bg-shadow {
  background-color: #6ab04c !important;
  box-shadow: 0 3px 5px #6ab04c !important;
}

.color-6-text {
  color: #6ab04c !important;
}

.color-7-bg {
  background-color: #df658a !important;
}

.color-7-shadow {
  box-shadow: 0 3px 5px #df658a !important;
}

.color-7-bg-shadow {
  background-color: #df658a !important;
  box-shadow: 0 3px 5px #df658a !important;
}

.color-7-text {
  color: #df658a !important;
}

.color-8-bg {
  background-color: #b79ee6 !important;
}

.color-8-shadow {
  box-shadow: 0 3px 5px #b79ee6 !important;
}

.color-8-bg-shadow {
  background-color: #b79ee6 !important;
  box-shadow: 0 3px 5px #b79ee6 !important;
}

.color-8-text {
  color: #b79ee6 !important;
}

.color-9-bg {
  background-color: #f71e1e !important;
}

.color-9-shadow {
  box-shadow: 0 3px 5px #f71e1e !important;
}

.color-9-bg-shadow {
  background-color: #f71e1e !important;
  box-shadow: 0 3px 5px #f71e1e !important;
}

.color-9-text {
  color: #f71e1e !important;
}

html {
  position: relative;
  height: 100%;
}

html, body {
  font-family: "Raleway";
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0px 4px rgba(138, 101, 223, 0.3);
}
header button {
  border: 1px solid white;
  background-color: white;
  color: #d70084;
  height: 35px;
  width: 35px;
  border-radius: 3px;
  font-size: 24px;
  transition-duration: 0.25s;
  opacity: 0;
  margin-left: -36px;
  visibility: hidden;
}
@media (max-width: 991px) {
  header.aside-toggler button {
    opacity: 1;
    margin-left: 0;
    visibility: visible;
  }
}
header .header-logo {
  display: block;
}
header .header-logo img {
  display: block;
  height: 69px;
  padding: 10px;
}
header .gitlab-link {
  display: inline-block;
  font-size: 24px;
  position: relative;
  top: 17px;
  margin: 0 10px;
}
header + .aside-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.25s;
  visibility: hidden;
  opacity: 0;
}
header + .aside-container aside {
  width: 280px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 5px 0;
  transition-duration: 0.25s;
  position: relative;
}
html[dir=ltr] header + .aside-container aside {
  left: -100vw;
}

html:not([dir=ltr]) header + .aside-container aside {
  right: -100vw;
}

header + .aside-container aside a.header-logo {
  display: block;
}
header + .aside-container aside a.header-logo img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto 10px;
}
header + .aside-container aside ul {
  margin: 0;
  padding: 0 8px;
  height: calc(100% - 80px);
  list-style-type: none;
  overflow: auto;
  padding-bottom: 5px;
}
header + .aside-container aside ul li {
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 3px;
  transition-duration: 0.15s;
  background-color: #fff;
  color: black;
}
header + .aside-container aside ul li:hover, header + .aside-container aside ul li.active {
  background-color: #8a65df;
  color: white;
}
header + .aside-container.active {
  visibility: visible;
  opacity: 1;
}
html[dir=ltr] header + .aside-container.active aside {
  left: 0;
}

html:not([dir=ltr]) header + .aside-container.active aside {
  right: 0;
}

footer ul {
  padding: 0;
  list-style: none;
  width: fit-content;
  margin: 0 auto 0;
  display: flex;
  gap: 10px;
}
footer ul a {
  display: block;
  font-size: 24px;
  position: relative;
}
footer ul a::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #eeedf7;
  z-index: -1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}

kbd {
  background-color: #083d77;
  color: white;
  padding: 2px 6px;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-top: 2px;
}

blockquote {
  border-left: 5px solid #8a65df;
  background-color: #d0dcff;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 14px;
}

.loader-box {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0px 2px;
  background-color: #8a65df;
  animation-name: fadeOutIn;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* (1/2) * <animation-duration: 500ms */
  /* (2/2) * <animation-duration: 500ms */
  /* (3/2) * <animation-duration: 500ms */
}
.loader-box:nth-child(1) {
  animation-delay: 250ms;
}
.loader-box:nth-child(2) {
  animation-delay: 500ms;
}
.loader-box:nth-child(3) {
  animation-delay: 750ms;
}
@keyframes fadeOutIn {
  0% {
    background-color: rgb(0, 146, 255);
  }
  100% {
    background-color: rgba(0, 146, 255, 0);
  }
}

.ornata-loader {
  animation: rotate 1.5s infinite;
  height: 50px;
  width: 50px;
}
.ornata-loader::before, .ornata-loader::after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.ornata-loader:before {
  animation: ball1 1s infinite;
  background-color: #cd007e;
  box-shadow: 30px 0 0 #f5a400;
  margin-bottom: 10px;
}
.ornata-loader:after {
  animation: ball2 1s infinite;
  background-color: #8a65df;
  box-shadow: 30px 0 0 #f5a400;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

.table {
  display: table;
  border: 1px solid #eee;
}
.table .thead {
  display: table-header-group;
}
.table .tbody {
  display: table-row-group;
}
.table .tfoot {
  display: table-footer-group;
}
.table .tr {
  display: table-row;
}
.table .col {
  display: table-column;
}
.table .colgroup {
  display: table-column-group;
}
.table .caption {
  display: table-caption;
}
.table .tbody .tr:nth-child(2n+1) {
  background-color: #ffe6f5;
}
.table .td, .table .th {
  width: 50%;
  display: table-cell;
  border: 1px solid #dedede;
  font-size: 14px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}
.table .thead .tr .th {
  border-top: 0;
  font-weight: 700;
}
.table .thead, .table .tbody, .table .tfoot, .table .tr, .table .td, .table .th {
  text-align: left;
  padding: 5px 15px;
}

body {
  position: relative;
  background-color: #eeedf7;
}
body .parallax {
  background-color: #8a65df;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding: 33px 0;
}
body .parallax .theme-bg-shapes-left, body .parallax .theme-bg-shapes-right {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
}
body .parallax .theme-bg-shapes-right::before {
  content: "";
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: -60px;
  top: 0;
  border-radius: 4px;
  -webkit-transform: skew(25deg, -10deg);
  transform: skew(25deg, -10deg);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
body .parallax .theme-bg-shapes-right::after {
  content: "";
  width: 150px;
  height: 600px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  right: 0px;
  top: 30px;
  border-radius: 6px;
  -webkit-transform: skew(25deg, 10deg);
  transform: skew(25deg, 10deg);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
body .parallax .theme-bg-shapes-left::before {
  content: "";
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: -90px;
  top: 0;
  border-radius: 6px;
  -webkit-transform: skew(25deg, -12deg);
  transform: skew(25deg, -12deg);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
body .parallax .theme-bg-shapes-left::after {
  content: "";
  width: 150px;
  height: 600px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: 0px;
  top: 30px;
  border-radius: 4px;
  -webkit-transform: skew(-25deg, 10deg);
  transform: skew(-25deg, 10deg);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
body .cta-main {
  display: inline-block;
  background-color: #8a65df;
  box-shadow: 0 2px 4px rgba(138, 101, 223, 0.5);
  color: white;
  text-decoration: none;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 0 none;
}
body .circle-btn {
  border: none;
  width: 45px;
  height: 45px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0 8px 0 4px;
}
body .bullet-list {
  list-style: none;
  padding: 0 0 0 20px;
  margin-bottom: 10px;
}
body .bullet-list.has-codebox li:not(:last-child) {
  margin-bottom: 20px;
}
body .bullet-list li::before {
  content: "»";
  margin: 0 4px 0 -13px;
}
body main {
  min-height: calc(100vh - 169px);
}
body main section[data-faster-component-id=routeNotRegistered] {
  padding: 15px 0;
}
body main section[data-faster-component-id=routeNotRegistered] .page-404 {
  background-color: white;
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
body main section[data-faster-component-id=routeNotRegistered] .page-404 img {
  max-width: 100%;
  max-height: 290px;
  padding: 10px;
}
body main section[data-faster-component-id=home] .page-home .main-header {
  font-size: calc(1.425rem + 2.1vw);
}
body main section[data-faster-component-id=home] .page-home .hero {
  min-height: 550px;
}
body main section[data-faster-component-id=home] .page-home .what-is-ornata {
  margin: 15px 0;
  padding: 25px 0;
}
body main section[data-faster-component-id=home] .page-home .what-is-ornata .lead {
  margin-top: 15px;
  font-size: 15px;
}
body main section[data-faster-component-id=home] .page-home .what-is-ornata img {
  display: block;
  width: 100%;
  max-width: 158px;
  margin: 0 auto;
}
body main section[data-faster-component-id=home] .page-home .features {
  margin: 25px 0;
}
body main section[data-faster-component-id=home] .page-home .feature {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  display: block;
  color: black;
  text-decoration: none;
  overflow: hidden;
  min-height: 100%;
  cursor: pointer;
}
@media (max-width: 767px) {
  body main section[data-faster-component-id=home] .page-home .feature:hover .feature-heading .feature-heading-icon::before {
    width: 190vw;
    height: 190vw;
  }
}
@media (min-width: 768px) {
  body main section[data-faster-component-id=home] .page-home .feature:hover .feature-heading .feature-heading-icon::before {
    width: 100vw;
    height: 100vw;
  }
}
body main section[data-faster-component-id=home] .page-home .feature .feature-heading {
  display: flex;
  gap: 15px;
}
body main section[data-faster-component-id=home] .page-home .feature .feature-heading .feature-heading-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  position: relative;
}
body main section[data-faster-component-id=home] .page-home .feature .feature-heading .feature-heading-icon::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: var(--feature-color);
  z-index: 1;
  border-radius: 50%;
  transition-duration: 0.4s;
}
body main section[data-faster-component-id=home] .page-home .feature .feature-heading .feature-heading-icon i {
  position: relative;
  z-index: 2;
}
body main section[data-faster-component-id=home] .page-home .feature .feature-heading .feature-heading-title {
  align-items: center;
  display: flex;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
body main section[data-faster-component-id=home] .page-home .feature .feature-content {
  position: relative;
  z-index: 1;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
}
@media (min-width: 768px) {
  body main section[data-faster-component-id=get-started] aside {
    position: sticky;
    top: 80px;
  }
}
body main section[data-faster-component-id=get-started] aside ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: end;
  font-weight: 700;
  max-height: calc(100vh - 251px);
  overflow: auto;
}
@media (min-width: 768px) {
  body main section[data-faster-component-id=get-started] aside ul li {
    color: #55585d;
    position: relative;
    padding: 7px 18px;
    cursor: pointer;
    user-select: none;
  }
  body main section[data-faster-component-id=get-started] aside ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    transform: translate(0, -50%);
    background-color: #8a65df;
    transition: 0.25s;
    border-radius: 50%;
    opacity: 0;
  }
  html[dir=rtl] body main section[data-faster-component-id=get-started] aside ul li::before {
    left: 5px;
  }
  html:not([dir=rtl]) body main section[data-faster-component-id=get-started] aside ul li::before {
    right: 5px;
  }
  body main section[data-faster-component-id=get-started] aside ul li:hover::before, body main section[data-faster-component-id=get-started] aside ul li.active::before {
    opacity: 1;
  }
}
body main section[data-faster-component-id=get-started] .alert {
  --bs-alert-border-radius: 3px;
}
body main section[data-faster-component-id=get-started] .doc-container {
  background-color: white;
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
body main section[data-faster-component-id=get-started] .doc-container > div:not(:last-child) {
  margin-bottom: 20px;
}
body main section[data-faster-component-id=get-started] .doc-container .codebox {
  position: relative;
  margin: 15px 0 15px;
}
body main section[data-faster-component-id=get-started] .doc-container .codebox::before {
  content: attr(data-language);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #8a65df;
  padding: 10px;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 700;
}
body main section[data-faster-component-id=get-started] .doc-container .codebox pre {
  background-color: #191c0e;
  padding: 15px 20px;
  position: relative;
  direction: ltr;
  text-align: left;
  min-height: 44px;
  border-radius: 0 0 0 0;
}
body main section[data-faster-component-id=get-started] .doc-container .codebox pre code[class*=language-] {
  color: white;
  text-shadow: none;
}
body main section[data-faster-component-id=get-started] .doc-container p:has(+ ul) {
  margin: 0 0 5px 0;
}
body main section[data-faster-component-id=get-started] .doc-container .dependencies ul li a {
  text-decoration: none;
  color: #55585d;
  padding: 10px;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  transition-duration: 0.25s;
  background-color: #fbf9ff;
  height: 100%;
}
body main section[data-faster-component-id=get-started] .doc-container .dependencies ul li a:hover {
  background-color: #f3edff;
}
body main section[data-faster-component-id=get-started] .doc-container .dependencies ul li a img {
  display: block;
  height: 100px;
  margin: 0 auto;
}
body [data-faster-loading] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition-duration: 0.33s;
  transition-delay: 2.67s;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
body [data-faster-loading].loaded {
  opacity: 0;
  transform: scale(2);
  visibility: hidden;
}
body [data-faster-loading] .logos-row {
  gap: 16px;
}
body [data-faster-loading] .logos-row img {
  max-height: 85px;
}
body.theme-dark {
  --bs-body-color: #eeb1b1;
  background-color: #201c1c;
}
body.theme-dark header {
  background-color: #201c1c;
  box-shadow: 0 0px 4px rgba(32, 28, 28, 0.3);
}
body.theme-dark header button {
  border: 1px solid transparent;
  background-color: transparent;
}
body.theme-dark .doc-compatibility {
  --bs-alert-border-radius: 3px;
  --bs-alert-bg: #425520;
  --bs-alert-border-color: #425520;
  --bs-alert-color: #eee;
}
body.theme-dark .version-checking {
  --bs-alert-bg: #b0005b !important;
  --bs-alert-border-color: #b0005b;
  --bs-alert-color: #eeb1b1;
}
body.theme-dark blockquote {
  background-color: #292d39;
}
body.theme-dark footer .text-muted {
  color: rgba(184, 207, 230, 0.75) !important;
}
body.theme-dark section[data-faster-component-id=get-started] aside, body.theme-dark section[data-faster-component-id=get-started] aside ul li {
  color: #eeb1b1;
}
body.theme-dark main section[data-faster-component-id=get-started] .doc-container {
  background-color: #1c1a1a;
  color: #eeb1b1;
}
body.theme-dark main section[data-faster-component-id=get-started] .doc-container .dependencies ul li a {
  background-color: #000;
  color: #eeb1b1;
}
body.theme-dark main section[data-faster-component-id=home] .page-home .feature {
  color: #eeb1b1;
  background-color: #442435;
}
body.theme-dark main section[data-faster-component-id=home] .page-home .feature:hover {
  color: #201c1c;
}
body.theme-dark main section[data-faster-component-id=home] .page-home .feature .feature-heading .feature-heading-icon {
  color: #201c1c;
}
/*# sourceMappingURL=app.css.map */
