@import 'mixins';

.layout-fixed {
  // &.text-sm {
  //   .wrapper {
  //     .sidebar {
  //       // height: calc(100vh - (4rem + 27px));
  //     }
  //   }
  // }

  .main-sidebar-custom {
    .sidebar-custom {
      padding: .2rem .2rem;
    }
  }

  .main-sidebar {
    z-index: 4;
  }

  .nav-link:not([role="tab"]) {
    border: 0 none;
    background-color: transparent;
    outline: 0 none;
  }
}

.layout-footer-fixed {
  .wrapper {
    .main-header {
      z-index: 3;
    }

    .main-footer {
      z-index: 2;
    }

    .content-wrapper {
      min-height: calc(100vh - 96px);
    }
  }
}

#sidebar-overlay {
  z-index: 3;
  transition-duration: .25s;
  background-color: rgba(black, .5);

  @media (max-width: 991.98px) {
    display: block;
    opacity: 0;
    visibility: hidden;
  }

  @at-root body.sidebar-open & {
    opacity: 1;
    visibility: visible;
  }
}

aside ul li a {
  user-select: none;
}

.breadcrumb-item + .breadcrumb-item {
  $padding: 0.3rem;
  padding-left: $padding;

  &::before { padding-right: $padding; }
}

.swal2-popup {
  &.swal2-toast {
    .swal2-icon {
      margin: 5px 10px 5px 0px;
    }
  }
}

.card-body {
  position: relative;
  z-index: 1;
}

.card-body {
  padding: 10px 10px;
}

.table {
  margin-bottom: 0;

  tbody, tfoot, thead {
    > tr {
      transition-duration: 0.25s;

      &.selected {
        background-color: #8eee6b;
      }

      > {
        td, th {
          padding: 8px 5px !important;
          vertical-align: middle;
          @at-root html[dir=ltr] &:not(.dt-type-numeric) { text-align: left; }
          @at-root html[dir=rtl] &:not(.dt-type-numeric) { text-align: right; }

          &.mailbox-icheck {
            width: 45px;
          }

          &.mailbox-date {
            width: 185px;
          }

          &.mailbox-name {
            width: 210px;
          }

          &.mailbox-subject {
            width: 368px;
          }
        }
      }
    }
  }
}

.nav-sidebar {
  > .nav-item {
    .nav-icon {
      position: relative;
      top: 2px;
    }
  }

  .nav-link {
    p {
      display: inline-block;
      min-width: max-content;
    }
  }
}

.navbar {
  padding: 0.5rem 0;
}

.container-narrow {
  width: 100%;
  max-width: 625px;
  margin: 0 auto;
}

[class*="icheck-"] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  // padding-left: 7px;

  > input:first-child + label,
  > input:first-child + input[type="hidden"] + label {
    &::before {
      margin-left: -22px;
    }
  }

  > input:first-child:checked + label,
  > input:first-child:checked + input[type="hidden"] + label {
    &::after {
      transform: translate(14px, 4px) rotate(45deg);
    }
  }
}

.text-rtl {
  text-align: right;
  direction: rtl;
}

select + span.select2-container {
  width: 100% !important;
}

.bootstrap-switch {
  &.bootstrap-switch-mini {
    .bootstrap-switch-handle-off, .bootstrap-switch-handle-on, .bootstrap-switch-label {
      font-size: 0.775rem;
    }

    /*.bootstrap-switch-label {
      // padding: .1rem .4rem;
    }*/
  }
}

.cursor-pointer {
  cursor: pointer;
}

.settings-view {
  .card {
    overflow: hidden;
    padding: 24px 10px 12px;
    margin-bottom: 12px;
    height: 100%;

    .card-text, .card-title::before {
      transition-duration: .33s;
    }

    .card-text {
      color: #6c757d;
    }

    .card-title {
      margin: 15px auto 25px;
      max-width: 64px;
      font-size: 32px;
      position: relative;
      color: white;

      &::before {
        content: '';
        position: absolute;
        width:  68px;
        height: 68px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background-color: var(--card-bg-color);
        z-index: -1;
        @include transform(translate(-50%, -50%));
        @include transformOrigin(left top);
      }
    }

    &:hover, &:focus {
      color: #fff;

      .card-title {
        &::before {
          @media (max-width: 575px) { @include transform(scale(10) translate(-50%, -50%)); }
          @media (min-width: 576px) { @include transform(scale(10) translate(-50%, -50%)); }
        }
      }

      .card-text {
        color: #fff;
        position: relative;
        z-index: 2;
      }
    }
  }
}

input[type=number] {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
  appearance: textfield;
}

.info-box[class*=bg-gradient-] {
  .info-box-icon {
    width: 50px;
  }

  .info-box-content {
    padding: 0 5px;
  }
}

.info-box:not([class*=bg-gradient-]) {
  // .info-box-text {
  //   // font-size: 12px;
  // }

  .info-box-number {
    font-weight: 600;
    font-size: 10px;
  }
}

.card-footer {
  background-color: white;
}

.filedrop {
  border: 1px dashed #837c75;
  background-color: #fff;
  color: black;
  padding: 10px;
  border-radius: 3px;
  min-height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  &:has(.filedrop-file) {
    justify-content: start;

    &::before { content: ''; }
  }

  &:not(:has(.filedrop-file))::before {
    content: "Drag and drop your files here";
  }

  &.hovering {
    &::after {
      content: 'Drop files here';
      position: absolute;
      background-color: rgba(211, 211, 211, 0.9);
      color: #333;
      font-size: 18px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .filedrop-file {
    background-color: bisque;
    border: 1px solid rgb(253, 187, 106);
    color: #333;
    display: flex;
    border-radius: 3px;
    padding: 6px;
    width: 100%;

    &.rejected {
      background-color: #ff3e3e;
      color: white;
    }

    .filedrop-file-icon {
      display: flex;
      align-items: center;
    }

    .filedrop-file-name {
      flex-grow: 1;
      align-items: start;
      display: flex;
      padding: 0px 5px;
      flex-direction: column;
      width: calc(100% - 28px);

      small {
        display: inline-block;
        width: 100%;
      }

      .progress {
        width: 100%;
        // margin-top: 5px;
        background-color: white;

        .progress-bar {
          min-width: 25px;
        }
      }
    }

    .filedrop-file-tools {
      font-size: 10px;
      margin-top: 3px;
    }
  }
}

.dashboard-view .card.card-outline .card-body { overflow: hidden; }

main.dashboard-view {
  section.weather {
    .weather-temp {
      font-size: 36px;
      margin-bottom: 7px;

      img {
        height: 54px;
        display: inline-block;
        position: relative;
        top: -4px;
      }
    }

    .weather-location, .weather-last-update {
      font-size: 12px;
    }

    .weather-status {
      font-size: 24px;
    }
  }

  section.todos {
    ul {
      max-height: 250px;
      overflow: auto;
      padding: 0;

      &:not(:has(li)) {
        &::before {
          content: "Start adding your todos ...";
          font-size: 18px;
          text-align: center;
          width: 100%;
          display: block;
        }
      }

      &:has(li) {
        &::before {
          content: none;
        }
      }
    }

    .todo {
      padding: 10px;
      background-color: rgba(255, 240, 245, 1);
      display: flex;

      &.checked {
        background-color: #89ffee;

        .todo-title {
          text-decoration: line-through double #6c757d 1px;
          font-weight: lighter;
        }
      }

      &.deleting {
        background-color: #faff54;
      }

      .todo-title {
        flex-grow: 1;
        padding: 0 10px;
      }

      @at-root body.dark-mode & {
        background-color: #07525e;

        &.checked {
          background-color: #143557;
        }

        &.deleting {
          background-color: #f24242;
        }
      }
    }
  }

  section.clockwall {
    [data-clockwall-container] {
      background: center center no-repeat url('../../../cp/pics/clock.png');
      background-size: contain;
      position: relative;
      margin: 0 auto;
      width:  100%;
      height: 200px;
  
      [data-hour], [data-minute], [data-second] {
        position: absolute;
        background-color: black;
        border-radius: 10px;
        transform-origin: bottom;
        // transition-duration: .5s;
      }
  
      [data-hour] {
        height: 26%;
        width: 1.8%;
        top: 24%;
        left: 48.9%;
        opacity: 1;
        background-color: rgb(7, 1, 61);
      }
  
      [data-minute] {
        height: 32%;
        width: 1.2%;
        top: 17%;
        left: 49%;
        opacity: 0.7;
        background-color: rgb(7, 1, 61);
      }
  
      [data-second] {
        background-color: red;
        height: 38%;
        width: 0.8%;
        top: 12%;
        left: 49.4%;
        opacity: 0.7;
      }
    }
  }
}

kbd {
  display: inline-block;
  background-color: #083d77;
  color: white;
  padding: 2px 6px;
  position: relative;
  top: -1px;
  margin-top: 2px;
}

.login-page, .register-page {
  height: auto;
  min-height: 100vh !important;
  padding: 20px 0;
}

.dt-container {
  .dt-layout-row {
    padding: 0 10px;

    .dt-layout-cell {
      margin: unset !important;

      label {
        margin: 0 5px;
      }
    }
  }
}

.ornata-loader {
  $main-color : #8a65df;
  $bg-color   : #d4d9ed;
  $colors     : #ff7f50 #008080 #f99810 #5d92b1 #00bfa5 #6ab04c #df658a #b79ee6 #f71e1e;

  animation: rotate 1.5s infinite;  
  height: 50px;
  width: 50px;

  &::before, &::after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }

  &:before {
    animation: ball1 1s infinite;  
    background-color: #cd007e;
    box-shadow: 30px 0 0 #f5a400;
    margin-bottom: 10px;
  }

  &:after {
    animation: ball2 1s infinite; 
    background-color: $main-color;
    box-shadow: 30px 0 0 #f5a400;
  }

  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
}
