@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-color : #8a65df;
$bg-color   : #d4d9ed;
$colors     : #ff7f50 #008080 #f99810 #5d92b1 #00bfa5 #6ab04c #df658a #b79ee6 #f71e1e;

.main-color-bg {
  background-color: $main-color !important;
}

.main-color-text {
  color: $main-color !important;
}

.cta-main {
  display: inline-block;
  background-color: $main-color;
  box-shadow: 0 3px 5px $main-color;
  color: white;
  text-decoration: none;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 0 none;
}

.circle-btn {
  border: none;
  width:  45px;
  height: 45px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0 8px 0 4px;
}

.alert:empty {
  display: none;
}

.ornata-loader {
  animation: rotate 1.5s infinite;  
  height: 50px;
  width: 50px;

  &::before, &::after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }

  &:before {
    animation: ball1 1s infinite;  
    background-color: #cd007e;
    box-shadow: 30px 0 0 #f5a400;
    margin-bottom: 10px;
  }

  &:after {
    animation: ball2 1s infinite; 
    background-color: $main-color;
    box-shadow: 30px 0 0 #f5a400;
  }

  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
}

[data-faster-loading] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition-duration: .33s;
  transition-delay: 5s;
  opacity: 1;
  transform: scale(1);
  visibility: visible;

  &.loaded {
    opacity: 0;
    transform: scale(2);
    visibility: hidden;
  }

  .logos-row {
    gap: 16px;

    img {
      max-height: 85px;
    }
  }
}

%overlay {
  all: unset;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
  backdrop-filter: blur(0);
  transition-duration: .15s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  opacity: 0;
  visibility: hidden;

  .box-container {
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
    background-color: white;
    transition-duration: .15s;
    transition-delay: .15s;
    padding: 20px 20px;
    border-radius: 4px;
    transform: scale(1.1);
    opacity: 0;
    min-width: 380px;
    max-width: min(85%, 767px);
  }

  &.active {
    backdrop-filter: blur(15px);
    opacity: 1;
    visibility: visible;

    .box-container {
      transform: scale(1);
      opacity: 1;
    }
  }
}

kbd {
  background-color: #083d77;
  color: white;
  padding: 2px 6px;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-top: 2px;
}

@for $i from 1 through length($colors) {
  .color-#{$i}-bg { background-color: nth($list: $colors, $n: $i) !important; }
  .color-#{$i}-shadow { box-shadow: 0 3px 5px nth($list: $colors, $n: $i) !important; }
  .color-#{$i}-bg-shadow { background-color: nth($list: $colors, $n: $i) !important; box-shadow: 0 3px 5px nth($list: $colors, $n: $i) !important; }
  .color-#{$i}-text { color: nth($list: $colors, $n: $i) !important; }
}

html {
  position: relative;
  height: 100%;
  --opacity: .9;
}

header {
  position: sticky;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 4px #c4defd;
  transition-duration: .25s;

  &.view-2 {
    top: 15px;
    margin: 0 auto;
    width: calc(100% - 20px);
    border-radius: 35px;
    @media (min-width: 576px) { max-width: 556px; }
    @media (min-width: 768px) { max-width: 750px; }
    @media (min-width: 992px) { max-width: 970px; }
    @media (min-width: 1200px) { max-width: 1150px; }
    @media (min-width: 1400px) { max-width: 1350px; }
  }
  // background: linear-gradient(to bottom, #eeedf7, rgba(255, 255, 255, var(--opacity)));
  // box-shadow: 0 0px 4px rgba($color: $main-color, $alpha: .3);

  button {
    border: 1px solid white;
    background-color: white;
    color: #d70084;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    font-size: 24px;
    transition-duration: .25s;
    opacity: 0;
    margin-left: -36px;
    visibility: hidden;
  }

  .header-logo {
    display: block;

    img {
      display: block;
      height: 69px;
      padding: 10px;
    }
  }

  .header-link {
    display: inline-block;
    font-size: 24px;
    position: relative;
    top: 17px;
    margin: 0 10px;
  }
}

footer {
  position: relative;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, var(--opacity)));

  ul {
    padding: 0;
    list-style: none;
    width: fit-content;
    margin: 0 auto 0;
    display: flex;
    gap: 10px;

    a {
      display: block;
      font-size: 24px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        background-color: #eeedf7;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 50%;
      }
    }
  }
}

.table {
  display: table;
  border: 1px solid #eee;

  .thead { display: table-header-group; }
  .tbody { display: table-row-group; }
  .tfoot { display: table-footer-group; }
  .tr { display: table-row; }
  .col { display: table-column; }
  .colgroup { display: table-column-group; }
  .caption { display: table-caption; }

  .tbody {
    .tr {
      &:nth-child(2n + 1) {
        background-color: #ffe6f5;
      }
    }
  }

  .td, .th {
    width: 50%;
    display: table-cell;
    border: 1px solid #dedede;
    font-size: 14px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }

  .thead {
    .tr {
      .th {
        border-top: 0;
        font-weight: 700;
      }
    }
  }

  .thead, .tbody, .tfoot, .tr, .td, .th {
    text-align: left;
    padding: 5px 15px;
  }
}

body {
  font-family: 'Raleway';
  position: relative;
  // background-color: #eeedf7;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, var(--opacity));
  }

  &.welcome-page {
    background: center center repeat url('../pics/shapes-2.jpg');
    background-size: 250px;
  }

  &.layout-core {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    position: relative;
    height: 100%;

    .layout-error {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        max-width: 768px;
        padding: 10px 25px;
        text-align: center;
        color: #9294ae;

        .title {
          font-size: max(125px, 15vw);
          font-weight: bold;
          line-height: 1;
          margin-bottom: 20px;
        }

        .hint {
          font-size: max(25px, 2.5vw);
          margin: 10px 0;
        }

        .btn {
          display: inline-block;
          background-color: $main-color;
          color: white;
          text-decoration: none;
          padding: 10px 15px;
          margin: 20px 0;
          border-radius: 4px;
          box-shadow: 0 3px 5px $main-color;
        }
      }
    }

    .rectangle {
      position: fixed;
      opacity: 1;
      transition: right .5s, bottom .5s, opacity .55s;
      user-select: none;

      &[data-id='1'] {
        background-color: $main-color;
        box-shadow: 0 0 20px 15px rgba(darken($main-color, 10), .15);
        width: 300px;
        height: 120vh;
        top: 0px;
        -webkit-transform: rotate(12deg);
        -moz-transform: rotate(12deg);
        -o-transform: rotate(12deg);
        transform: rotate(12deg);
        transition-delay: .1s;
        // right: -225px;
      }

      &[data-id='2'] {
        background-color: $main-color;
        box-shadow: 0 0 20px 15px rgba(darken($main-color, 10), .15), 0 0 20px 0 rgba(0, 0, 0, .1);
        width: 100vw;
        height: 300px;
        right: -50%;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        transition-delay: .15s;
        // bottom: -220px;
      }

      @media (min-width: 768px) and (min-height: 360px) {
        &[data-id='1'] { right: -225px; }
        &[data-id='2'] { bottom: -220px; }
      }

      @media (max-width: 767px), (max-height: 359px) {
        opacity: 0;
  
        &[data-id='1'] { right: -120vh;  }
        &[data-id='2'] { bottom: -120vh; }
      }
    }
  }
}

main {
  min-height: calc(100vh - 177px);
  position: relative;
  // background-color: rgba(255, 255, 255, var(--opacity));
  // min-height: 1000px;

  section {
    &[data-faster-component-id*=setup], &[data-faster-component-id*=step] {
      .page-setup-wizard {
        padding: 24px 0;

        .setup-steps {
          margin: 15px auto;
          padding: 0 10px 10px;
          display: flex;
          width: fit-content;
          list-style: none;
          overflow-x: auto;
          max-width: 100%;
          // gap: 7px;

          .setup-step {
            background-color: white;
            color: #252525;
            border-radius: 7px;
            text-transform: uppercase;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.26);
            margin: 5px;
            padding: 8px 16px;
            transform: skew(-21deg);
            cursor: pointer;
            transition-duration: .2s;
            min-width: fit-content;

            span {
              transform: skew(21deg);
            }

            i {
              margin: 0 3px;
            }

            &:hover, &.active {
              color: white;
              background-color: $main-color;
            }
          }
        }

        .setup-wizard {
          background-color: white;
          padding: 25px 25px;
          margin: 0 auto;
          max-width: 720px;
          box-shadow: 0 3px 5px silver;
          border-radius: 4px;

          .database-type, .cp-superuser-credintials {
            display: none;

            &.active {
              display: block;
            }
          }
        }
      }
    }

    &[data-faster-component-id=home] {
      overflow: hidden; // to collapse all inner items' margins

      .hero {
        .row {
          min-height: calc(100vh - 115px); // 225px to get only-hero fullscreen view

          img {
            max-width: 250px;
            @media (max-width: 767px) { max-width: 225px; }
            @media (max-width: 479px) { max-width: 200px; margin-bottom: 10px; }
            background-color: white;
            border-radius: 50%;
          }
        }
      }

      .intro {
        .row {
          margin-bottom: 30px;
          align-items: center;

          @media (min-width: 768px) {
            &:nth-child(2n) {
              flex-direction: row-reverse;
              text-align: right;
            }
          }

          @media (max-width: 767px) {
            text-align: center;
          }
        }

        img {
          max-width: 250px;
          box-shadow: 0 4px 12px 0 #bdc2be;
          @media (max-width: 767px) { margin-bottom: 20px; }
        }

        span[data-id=seeHowDoc] {
          color: #0058ff;
          text-decoration: underline;
          display: inline-block;
          cursor: pointer;
        }

        .seeHowDocOverlay {
          @extend %overlay;
        }
      }
    }

    &[data-faster-component-id=routeNotRegistered] {
      .routeNotRegistered {
        min-height: calc(100vh - 178px);
        padding: 30px 0 15px;
      }
    }
  }
}

