@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main-color-bg {
  background-color: #8a65df !important; }

.main-color-text {
  color: #8a65df !important; }

.cta-main {
  display: inline-block;
  background-color: #8a65df;
  box-shadow: 0 3px 5px #8a65df;
  color: white;
  text-decoration: none;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 0 none; }

.circle-btn {
  border: none;
  width: 45px;
  height: 45px;
  color: white;
  border-radius: 50%;
  margin: 0 8px 0 4px; }

.alert:empty {
  display: none; }

.ornata-loader {
  animation: rotate 1.5s infinite;
  height: 50px;
  width: 50px; }
  .ornata-loader::before, .ornata-loader::after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px; }
  .ornata-loader:before {
    animation: ball1 1s infinite;
    background-color: #cd007e;
    box-shadow: 30px 0 0 #f5a400;
    margin-bottom: 10px; }
  .ornata-loader:after {
    animation: ball2 1s infinite;
    background-color: #8a65df;
    box-shadow: 30px 0 0 #f5a400; }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8); }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2); }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8); } }
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334; }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px); }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px; } }
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d; }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px); }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0; } }
[data-faster-loading] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition-duration: .33s;
  transition-delay: 5s;
  opacity: 1;
  transform: scale(1);
  visibility: visible; }
  [data-faster-loading].loaded {
    opacity: 0;
    transform: scale(2);
    visibility: hidden; }
  [data-faster-loading] .logos-row {
    gap: 16px; }
    [data-faster-loading] .logos-row img {
      max-height: 85px; }

main section[data-faster-component-id=home] .intro .seeHowDocOverlay {
  all: unset;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(0);
  transition-duration: .15s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  opacity: 0;
  visibility: hidden; }
  main section[data-faster-component-id=home] .intro .seeHowDocOverlay .box-container {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    transition-duration: .15s;
    transition-delay: .15s;
    padding: 20px 20px;
    border-radius: 4px;
    transform: scale(1.1);
    opacity: 0;
    min-width: 380px;
    max-width: min(85%, 767px); }
  main section[data-faster-component-id=home] .intro .active.seeHowDocOverlay {
    backdrop-filter: blur(15px);
    opacity: 1;
    visibility: visible; }
    main section[data-faster-component-id=home] .intro .active.seeHowDocOverlay .box-container {
      transform: scale(1);
      opacity: 1; }

kbd {
  background-color: #083d77;
  color: white;
  padding: 2px 6px;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-top: 2px; }

.color-1-bg {
  background-color: #ff7f50 !important; }

.color-1-shadow {
  box-shadow: 0 3px 5px #ff7f50 !important; }

.color-1-bg-shadow {
  background-color: #ff7f50 !important;
  box-shadow: 0 3px 5px #ff7f50 !important; }

.color-1-text {
  color: #ff7f50 !important; }

.color-2-bg {
  background-color: #008080 !important; }

.color-2-shadow {
  box-shadow: 0 3px 5px #008080 !important; }

.color-2-bg-shadow {
  background-color: #008080 !important;
  box-shadow: 0 3px 5px #008080 !important; }

.color-2-text {
  color: #008080 !important; }

.color-3-bg {
  background-color: #f99810 !important; }

.color-3-shadow {
  box-shadow: 0 3px 5px #f99810 !important; }

.color-3-bg-shadow {
  background-color: #f99810 !important;
  box-shadow: 0 3px 5px #f99810 !important; }

.color-3-text {
  color: #f99810 !important; }

.color-4-bg {
  background-color: #5d92b1 !important; }

.color-4-shadow {
  box-shadow: 0 3px 5px #5d92b1 !important; }

.color-4-bg-shadow {
  background-color: #5d92b1 !important;
  box-shadow: 0 3px 5px #5d92b1 !important; }

.color-4-text {
  color: #5d92b1 !important; }

.color-5-bg {
  background-color: #00bfa5 !important; }

.color-5-shadow {
  box-shadow: 0 3px 5px #00bfa5 !important; }

.color-5-bg-shadow {
  background-color: #00bfa5 !important;
  box-shadow: 0 3px 5px #00bfa5 !important; }

.color-5-text {
  color: #00bfa5 !important; }

.color-6-bg {
  background-color: #6ab04c !important; }

.color-6-shadow {
  box-shadow: 0 3px 5px #6ab04c !important; }

.color-6-bg-shadow {
  background-color: #6ab04c !important;
  box-shadow: 0 3px 5px #6ab04c !important; }

.color-6-text {
  color: #6ab04c !important; }

.color-7-bg {
  background-color: #df658a !important; }

.color-7-shadow {
  box-shadow: 0 3px 5px #df658a !important; }

.color-7-bg-shadow {
  background-color: #df658a !important;
  box-shadow: 0 3px 5px #df658a !important; }

.color-7-text {
  color: #df658a !important; }

.color-8-bg {
  background-color: #b79ee6 !important; }

.color-8-shadow {
  box-shadow: 0 3px 5px #b79ee6 !important; }

.color-8-bg-shadow {
  background-color: #b79ee6 !important;
  box-shadow: 0 3px 5px #b79ee6 !important; }

.color-8-text {
  color: #b79ee6 !important; }

.color-9-bg {
  background-color: #f71e1e !important; }

.color-9-shadow {
  box-shadow: 0 3px 5px #f71e1e !important; }

.color-9-bg-shadow {
  background-color: #f71e1e !important;
  box-shadow: 0 3px 5px #f71e1e !important; }

.color-9-text {
  color: #f71e1e !important; }

html {
  position: relative;
  height: 100%;
  --opacity: .9; }

header {
  position: sticky;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 4px #c4defd;
  transition-duration: .25s; }
  header.view-2 {
    top: 15px;
    margin: 0 auto;
    width: calc(100% - 20px);
    border-radius: 35px; }
    @media (min-width: 576px) {
      header.view-2 {
        max-width: 556px; } }
    @media (min-width: 768px) {
      header.view-2 {
        max-width: 750px; } }
    @media (min-width: 992px) {
      header.view-2 {
        max-width: 970px; } }
    @media (min-width: 1200px) {
      header.view-2 {
        max-width: 1150px; } }
    @media (min-width: 1400px) {
      header.view-2 {
        max-width: 1350px; } }
  header button {
    border: 1px solid white;
    background-color: white;
    color: #d70084;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    font-size: 24px;
    transition-duration: .25s;
    opacity: 0;
    margin-left: -36px;
    visibility: hidden; }
  header .header-logo {
    display: block; }
    header .header-logo img {
      display: block;
      height: 69px;
      padding: 10px; }
  header .header-link {
    display: inline-block;
    font-size: 24px;
    position: relative;
    top: 17px;
    margin: 0 10px; }

footer {
  position: relative;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, var(--opacity))); }
  footer ul {
    padding: 0;
    list-style: none;
    width: fit-content;
    margin: 0 auto 0;
    display: flex;
    gap: 10px; }
    footer ul a {
      display: block;
      font-size: 24px;
      position: relative; }
      footer ul a::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        background-color: #eeedf7;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 50%; }

.table {
  display: table;
  border: 1px solid #eee; }
  .table .thead {
    display: table-header-group; }
  .table .tbody {
    display: table-row-group; }
  .table .tfoot {
    display: table-footer-group; }
  .table .tr {
    display: table-row; }
  .table .col {
    display: table-column; }
  .table .colgroup {
    display: table-column-group; }
  .table .caption {
    display: table-caption; }
  .table .tbody .tr:nth-child(2n + 1) {
    background-color: #ffe6f5; }
  .table .td, .table .th {
    width: 50%;
    display: table-cell;
    border: 1px solid #dedede;
    font-size: 14px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0; }
  .table .thead .tr .th {
    border-top: 0;
    font-weight: 700; }
  .table .thead, .table .tbody, .table .tfoot, .table .tr, .table .td, .table .th {
    text-align: left;
    padding: 5px 15px; }

body {
  font-family: 'Raleway';
  position: relative; }
  body::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, var(--opacity)); }
  body.welcome-page {
    background: center center repeat url("../pics/shapes-2.jpg");
    background-size: 250px; }
  body.layout-core {
    margin: 0;
    padding: 0;
    background-color: #d4d9ed;
    position: relative;
    height: 100%; }
    body.layout-core .layout-error {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      body.layout-core .layout-error .container {
        max-width: 768px;
        padding: 10px 25px;
        text-align: center;
        color: #9294ae; }
        body.layout-core .layout-error .container .title {
          font-size: max(125px, 15vw);
          font-weight: bold;
          line-height: 1;
          margin-bottom: 20px; }
        body.layout-core .layout-error .container .hint {
          font-size: max(25px, 2.5vw);
          margin: 10px 0; }
        body.layout-core .layout-error .container .btn {
          display: inline-block;
          background-color: #8a65df;
          color: white;
          text-decoration: none;
          padding: 10px 15px;
          margin: 20px 0;
          border-radius: 4px;
          box-shadow: 0 3px 5px #8a65df; }
    body.layout-core .rectangle {
      position: fixed;
      opacity: 1;
      transition: right .5s, bottom .5s, opacity .55s;
      user-select: none; }
      body.layout-core .rectangle[data-id='1'] {
        background-color: #8a65df;
        box-shadow: 0 0 20px 15px rgba(106, 59, 214, 0.15);
        width: 300px;
        height: 120vh;
        top: 0px;
        -webkit-transform: rotate(12deg);
        -moz-transform: rotate(12deg);
        -o-transform: rotate(12deg);
        transform: rotate(12deg);
        transition-delay: .1s; }
      body.layout-core .rectangle[data-id='2'] {
        background-color: #8a65df;
        box-shadow: 0 0 20px 15px rgba(106, 59, 214, 0.15), 0 0 20px 0 rgba(0, 0, 0, 0.1);
        width: 100vw;
        height: 300px;
        right: -50%;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        transition-delay: .15s; }
      @media (min-width: 768px) and (min-height: 360px) {
        body.layout-core .rectangle[data-id='1'] {
          right: -225px; }
        body.layout-core .rectangle[data-id='2'] {
          bottom: -220px; } }
      @media (max-width: 767px), (max-height: 359px) {
        body.layout-core .rectangle {
          opacity: 0; }
          body.layout-core .rectangle[data-id='1'] {
            right: -120vh; }
          body.layout-core .rectangle[data-id='2'] {
            bottom: -120vh; } }

main {
  min-height: calc(100vh - 177px);
  position: relative; }
  main section[data-faster-component-id*=setup] .page-setup-wizard, main section[data-faster-component-id*=step] .page-setup-wizard {
    padding: 24px 0; }
    main section[data-faster-component-id*=setup] .page-setup-wizard .setup-steps, main section[data-faster-component-id*=step] .page-setup-wizard .setup-steps {
      margin: 15px auto;
      padding: 0 10px 10px;
      display: flex;
      width: fit-content;
      list-style: none;
      overflow-x: auto;
      max-width: 100%; }
      main section[data-faster-component-id*=setup] .page-setup-wizard .setup-steps .setup-step, main section[data-faster-component-id*=step] .page-setup-wizard .setup-steps .setup-step {
        background-color: white;
        color: #252525;
        border-radius: 7px;
        text-transform: uppercase;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        margin: 5px;
        padding: 8px 16px;
        transform: skew(-21deg);
        cursor: pointer;
        transition-duration: .2s;
        min-width: fit-content; }
        main section[data-faster-component-id*=setup] .page-setup-wizard .setup-steps .setup-step span, main section[data-faster-component-id*=step] .page-setup-wizard .setup-steps .setup-step span {
          transform: skew(21deg); }
        main section[data-faster-component-id*=setup] .page-setup-wizard .setup-steps .setup-step i, main section[data-faster-component-id*=step] .page-setup-wizard .setup-steps .setup-step i {
          margin: 0 3px; }
        main section[data-faster-component-id*=setup] .page-setup-wizard .setup-steps .setup-step:hover, main section[data-faster-component-id*=setup] .page-setup-wizard .setup-steps .setup-step.active, main section[data-faster-component-id*=step] .page-setup-wizard .setup-steps .setup-step:hover, main section[data-faster-component-id*=step] .page-setup-wizard .setup-steps .setup-step.active {
          color: white;
          background-color: #8a65df; }
    main section[data-faster-component-id*=setup] .page-setup-wizard .setup-wizard, main section[data-faster-component-id*=step] .page-setup-wizard .setup-wizard {
      background-color: white;
      padding: 25px 25px;
      margin: 0 auto;
      max-width: 720px;
      box-shadow: 0 3px 5px silver;
      border-radius: 4px; }
      main section[data-faster-component-id*=setup] .page-setup-wizard .setup-wizard .database-type, main section[data-faster-component-id*=setup] .page-setup-wizard .setup-wizard .cp-superuser-credintials, main section[data-faster-component-id*=step] .page-setup-wizard .setup-wizard .database-type, main section[data-faster-component-id*=step] .page-setup-wizard .setup-wizard .cp-superuser-credintials {
        display: none; }
        main section[data-faster-component-id*=setup] .page-setup-wizard .setup-wizard .database-type.active, main section[data-faster-component-id*=setup] .page-setup-wizard .setup-wizard .cp-superuser-credintials.active, main section[data-faster-component-id*=step] .page-setup-wizard .setup-wizard .database-type.active, main section[data-faster-component-id*=step] .page-setup-wizard .setup-wizard .cp-superuser-credintials.active {
          display: block; }
  main section[data-faster-component-id=home] {
    overflow: hidden; }
    main section[data-faster-component-id=home] .hero .row {
      min-height: calc(100vh - 115px); }
      main section[data-faster-component-id=home] .hero .row img {
        max-width: 250px;
        background-color: white;
        border-radius: 50%; }
        @media (max-width: 767px) {
          main section[data-faster-component-id=home] .hero .row img {
            max-width: 225px; } }
        @media (max-width: 479px) {
          main section[data-faster-component-id=home] .hero .row img {
            max-width: 200px;
            margin-bottom: 10px; } }
    main section[data-faster-component-id=home] .intro .row {
      margin-bottom: 30px;
      align-items: center; }
      @media (min-width: 768px) {
        main section[data-faster-component-id=home] .intro .row:nth-child(2n) {
          flex-direction: row-reverse;
          text-align: right; } }
      @media (max-width: 767px) {
        main section[data-faster-component-id=home] .intro .row {
          text-align: center; } }
    main section[data-faster-component-id=home] .intro img {
      max-width: 250px;
      box-shadow: 0 4px 12px 0 #bdc2be; }
      @media (max-width: 767px) {
        main section[data-faster-component-id=home] .intro img {
          margin-bottom: 20px; } }
    main section[data-faster-component-id=home] .intro span[data-id=seeHowDoc] {
      color: #0058ff;
      text-decoration: underline;
      display: inline-block;
      cursor: pointer; }
  main section[data-faster-component-id=routeNotRegistered] .routeNotRegistered {
    min-height: calc(100vh - 178px);
    padding: 30px 0 15px; }

/*# sourceMappingURL=core.css.map */
